echo "# GGS01-Arduino-GSM-GPS-Shields" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/gndkits/GGS01-Arduino-GSM-GPS-Shields.git
git push -u origin master